.container {
  padding: 0 2rem;
}
.iconItem {
  @apply text-primary border-1 border-primary p-2 rounded-lg mx-1 bg-white hover:bg-primary hover:text-white;
}

.iconList:hover .show {
top: 75% ;
}
.show {
top:105%;
transition: all 0.1s ease-in-out;
}

.icon:hover .show {
top:60%;
}